@media screen and (max-width: 1200px) {
	html {
		font-size: 85%;
	}

	#about,
	#contact,
	#portfolio,
	#contact {
		padding: 110px 6% 30px;
	}

	.form-control,
	.btn {
		font-size: 100%;
	}
}

@media screen and (max-width: 920px) {
	#about,
	#contact,
	#portfolio,
	#contact {
		padding: 110px 7% 30px;
	}

	.portfolio-grid {
		grid-template-columns: 600px;
		justify-content: center;
	}

	.portfolio-card {
		height: 300px;
	}

	.btn2 {
		width: 200px;
	}

	#contact {
		flex-direction: column;
	}

	.cards-container {
		flex-direction: row;
	}

	.contact-card {
		width: 220px;
	}
}

@media screen and (max-width: 770px) {
	#about,
	#contact,
	#portfolio,
	#contact {
		padding: 110px 5% 30px;
	}

	.portfolio-grid {
		grid-template-columns: minmax(250px, 1fr);
		justify-content: center;
	}

	.form-group {
		flex-direction: column;
		gap: 0;
	}
}

@media screen and (max-width: 570px) {
}
