@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background: #1f242d;
	background-image: url(http://www.transparenttextures.com/patterns/cartographer.png);
}

a {
	color: #fff;
	text-decoration: none;
}

/* NAVBAR */

#navbar {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding: 25px 9%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
	visibility: hidden;
	opacity: 0;
	transition: background-color 0.3s ease;
	animation: show-content 1.2s linear forwards;
	animation-delay: 0.8s;
}

#navbar.scrolled {
	background-color: #111;
}

@keyframes show-content {
	100% {
		visibility: visible;
		opacity: 1;
	}
}

#navbar .logo {
	font-size: 30px;
	font-weight: 600;
	letter-spacing: 2px;
}

#navbar .logo span {
	color: royalblue;
}

#navbar ul {
	display: flex;
}

#navbar ul li {
	list-style: none;
	margin-left: 45px;
}

#navbar ul li a {
	font-size: 18px;
	font-weight: 500;
	transition: 0.5s;
}

#navbar ul li a:hover,
#navbar ul li.active a {
	color: royalblue;
}

/* HOME SECTION */

#home {
	display: flex;
	align-items: center;
	gap: 50px;
	height: 100vh;
	padding: 60px 9% 0;
	color: #fff;
	visibility: hidden;
	opacity: 0;
	animation: show-content 1.3s linear forwards;
	animation-delay: 1.2s;
}

.home-info h1 {
	font-size: 55px;
}

.home-info h2 {
	display: inline-block;
	font-size: 32px;
	margin-top: -10px;
}

.home-info h2 span {
	position: relative;
	display: inline-block;
	color: transparent;
	-webkit-text-stroke: 0.7px royalblue;
	animation: display-text 5s linear infinite;
}

@keyframes display-text {
	100% {
		display: none;
	}
}

.home-info h2 span::before {
	content: attr(data-text);
	position: absolute;
	width: 0;
	border-right: 2px solid royalblue;
	color: royalblue;
	white-space: nowrap;
	overflow: hidden;
	animation: fill-text 5s linear infinite;
}

@keyframes fill-text {
	10%,
	100% {
		width: 0;
	}

	70%,
	90% {
		width: 100%;
	}
}

.home-info p {
	font-size: 16px;
	margin: 10px 0 25px;
}

.btn-sci {
	display: flex;
	align-items: center;
}

.btn {
	display: inline-block;
	padding: 10px 30px;
	background: royalblue;
	border: 2px solid royalblue;
	border-radius: 40px;
	box-shadow: 0 0 6px royalblue;
	font-size: 16px;
	color: #1f242d;
	font-weight: 600;
	transition: 0.5s;
}

.btn:hover {
	background: transparent;
	color: royalblue;
	box-shadow: none;
}

.sci {
	margin-left: 20px;
}

.sci a {
	display: inline-flex;
	padding: 8px;
	border: 2px solid royalblue;
	border-radius: 50%;
	font-size: 20px;
	color: royalblue;
	margin: 0 8px;
	transition: 0.5s;
}

.sci a:hover {
	background: royalblue;
	color: #1f242d;
	box-shadow: 0 0 4px royalblue;
}

.img-box {
	position: relative;
	width: 28vw;
	height: 28vw;
	border-radius: 50%;
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.img-box::before,
.img-box::after {
	content: "";
	position: absolute;
	width: 500px;
	height: 500px;
	background: conic-gradient(transparent, transparent, transparent, royalblue);
	transform: rotate(0deg);
	animation: rotate-border 10s linear infinite;
}

.img-box::after {
	animation-delay: -5s;
}

@keyframes rotate-border {
	100% {
		transform: rotate(360deg);
	}
}

.img-item {
	position: relative;
	width: 100%;
	height: 100%;
	background: #1f242d;
	background-image: url(http://www.transparenttextures.com/patterns/cartographer.png);
	background-attachment: fixed;
	border-radius: 50%;
	border: transparent;
	display: flex;
	justify-content: center;
	z-index: 1;
	overflow: hidden;
}

.img-item img {
	position: absolute;
	display: block;
	width: 90%;
	object-fit: cover;
	/* mix-blend-mode: lighten; */
}

/* .bars-animation {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	z-index: -1;
} */

/* .bar {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #1f242d;
	background-image: url(http://www.transparenttextures.com/patterns/cartographer.png);
	transform: translateY(-100%);
	animation: show-bars 0.3s ease-in-out forwards;
	animation-delay: calc(0.1s * var(--i));
} */

@keyframes show-bars {
	100% {
		transform: translateY(0%);
	}
}

/* ABOUT SECTION */

#about {
	display: flex;
	align-items: center;
	height: fit-content;
	padding: 110px 9% 30px;
	color: #fff;
}

.about {
	padding: 4% 5%;
	background: #1f242d;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	animation: show-content 1.3s linear forwards;
	animation-delay: 1.2s;
}

.heading {
	font-size: 1.8rem;
	font-weight: 600;
}

.subheading {
	font-size: 1.2rem;
	color: white;
	border-left: 4px solid royalblue;
	padding-left: 0.6rem;
	margin: 1.5rem 0;
}

.about-wrapper,
.about-wrapper {
	display: flex;
	flex-direction: column;
}

.about-info {
	margin: 2% 0;
	padding: 20px 40px;
	border-radius: 5px;
	border-bottom: 1px solid royalblue;
	border-left: 1px solid royalblue;
}

.skills-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 1rem;
}

.skill-card {
	background: #111;
	border-radius: 8px;
	padding: 1rem;
	border: 1px solid transparent;
	display: flex;
	align-items: center;
	gap: 0.6rem;
	transition: border 0.3s, transform 0.3s;
}

.skill-card:hover {
	transform: translateY(-2px);
	border-color: royalblue;
	mix-blend-mode: lighten;
}

.skill-card img {
	display: block;
	width: 30px;
	height: 30px;
}

.skill-card span {
	font-weight: bold;
}

/* PORTFOLIO SECTION */

#portfolio {
	display: flex;
	align-items: center;
	height: fit-content;
	padding: 110px 9% 30px;
	color: #fff;
}

.portfolio {
	padding: 4% 5%;
	background: #1f242d;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	animation: show-content 1.3s linear forwards;
	animation-delay: 1.2s;
}

.portfolio-grid {
	display: grid;
	grid-template-columns: repeat(2, minmax(300px, 1fr));
	gap: 1rem;
	margin-top: 2rem;
}

.portfolio-card {
	position: relative;
	background: white;
	border-radius: 8px;
	border: 1px solid transparent;
	display: flex;
	align-items: center;
	gap: 0.6rem;
	transition: border 0.3s;
	overflow: hidden;
	height: 300px;
}

.portfolio-card:hover {
	border-color: royalblue;
}

.portfolio-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.layer {
	position: absolute;
	bottom: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(6px);
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	padding: 20px;
	border-radius: 8px;
	box-sizing: border-box;
	transition: bottom 0.4s ease;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.portfolio-card:hover .layer {
	bottom: 0;
}

.view-project {
	display: none;
	position: absolute;
	bottom: 15%;
	align-self: center;
	color: white;
	text-decoration: none;
	z-index: 10;
	font-size: xx-large;
}

.portfolio-card:hover .view-project {
	display: block;
}

.swiper-popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.8);
	z-index: 100;
	justify-content: center;
	align-items: center;
}

.popup-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 1;
}

.swiper-container {
	width: 90%;
	max-width: 800px;
	user-select: none;
}

.swiper-slide img {
	width: 100%;
	height: auto;
	display: block;
	align-self: center;
}

.swiper-pagination {
	background-color: #fff;
}
